body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: repeat(6,0.5fr);
    grid-template-rows: auto;
}
.sidenav a:hover {
    color:  #a3c2c2;
}

a,h2{
   padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    border-radius: 2px;
padding: 20px;
box-shadow: 1px 1px 1px 1px cyan;
   
        cursor: pointer;
text-decoration: none;
}
#mySidenav{
    display: flex;
    flex-direction: column;
    background-color: #527a7a;
    grid-column: 1/2;
    grid-row: 1/10;

}
#map{
    width: 100%;
    height: 100vh;
    background: aqua;
    grid-column: 2/7;
    grid-row: 1/10;
}